

/* Loading and error messages */
.loading,
.error,
.no-post {
    text-align: center;
    font-size: 18px;
    color: #333;
    padding: 20px;
}

/* Container styling */
.word-detail-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Title styling */
.word-detail-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Image styling */
.word-detail-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px auto;
    border-radius: 5px;
}

/* Content styling */
.word-detail-content {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    
}

.word-detail-content2 {
    font-size: 1rem;
    color: #444;
    line-height: 1.6;
    text-align: left;
    word-wrap: break-word;
  }
  
  /* Ensure images inside content are responsive */
  .word-detail-content2 img {
    max-width: 100%; /* Ensure images don't overflow */
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
  }
  

/* Responsive design */
@media (max-width: 768px) {
    .word-detail-container {
        padding: 15px;
    }

    .word-detail-title {
        font-size: 24px;
    }

    .word-detail-content {
        font-size: 14px;
    }
}
